.app-container {
  position: relative;
}

.header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  width: 100px;
  height: auto;
  object-fit: cover;
}
.menu {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  /* flex-basis: 50%; */
}
ul > li {
  list-style: none;
  font-size: 20px;
}

body {
  padding: 2rem;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}
.restaurant-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  background-color: #dcdada;
  border: 1px solid transparent;
  padding: 4px;
  border-radius: 4px;
  min-height: 400px;
}
.res-card-link {
  text-decoration: none;
}
.restaurant-card:hover {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}
.restaurant-card-img > img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.filter-area {
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
  padding: 1rem 0;
}
.filter-btn {
  padding: 4px 6px;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.logout {
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 4px;
  cursor: pointer;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p {
    margin: 0.5rem 0;
    padding: 0 4px;
  }
}
